<ng-container *ngIf="!showCategories">
    <app-list-item *ngFor="let task of tasks;" [task]="task"></app-list-item>
</ng-container>
<ng-container *ngIf="showCategories">
    <app-list-category *ngFor="let category of categories;" [category]="category" [tasks]="getTasksForCategory(category)"></app-list-category>
</ng-container>
