<span class="title">ToDo List</span>
<button title="Refresh List" (click)="refresh()">
    <fa-icon [icon]="faSync"></fa-icon>
</button>
<button title="Show Categories" (click)="toggleShowCategories()">
    <fa-icon [icon]="showCategories ? faToggleOn : faToggleOff"></fa-icon>
</button>
<button title="Show All" (click)="toggleShowAll()">
    <fa-icon [icon]="showAll ? faEye : faEyeSlash"></fa-icon>
</button>
<button class="float-right" title="Add Task" (click)="addClicked()">
    <fa-icon [icon]="faPlus"></fa-icon>
</button>