:host {
  flex: 0 1 55px;
  border-bottom: 1px solid #112;
  position: relative;
}

button {
  margin: 10px 5px;
}

.title {
  position: absolute;
  float: left;
  top: 0;
  width: 100%;

  text-align: center;
  display: block;
  line-height: 55px;
  font-size: 30px;

  color: #FFE;
  pointer-events: none;
}