<app-lightbox (click)="lightboxClick($event)">
  <div class="add-category dialog">
    <h2>Add Category</h2>
    <form [formGroup]="form">
      <div class="form-field">
        <label>Name</label>
        <input formControlName="name" required placeholder="Name">
      </div>
    </form>	
    <div class="actions">
      <button (click)="cancelClicked()">Cancel</button>
      <button (click)="saveClicked()">Add Category</button>
    </div>
  </div>
</app-lightbox>
