<div class="category" [ngStyle]="{ 'border-color': getBorderColor() }">
	<div class="main" [ngStyle]="{ 'background-color': getMainColor() }">
		<span class="title" (click)="titleClicked()" [ngStyle]="{ 'color': getLineColor() }">{{ category.name }}</span>
	</div>
	<div *ngIf="isExpanded" class="details" [ngStyle]="{ 'background-color': getDetailsColor(), 'color': getLineColor() }">
    <div class="item-container">
      <h3 class="heading">Tasks</h3>
      <div class="tasks" *ngIf="tasks?.length">
        <app-list-item *ngFor="let task of tasks" [task]="task"></app-list-item>
      </div>
      <div *ngIf="!tasks?.length">No Tasks</div>
    </div>
	</div>
</div>
