.category {
  margin: 5px;
  border-radius: 3px;
  display: block;
  overflow: hidden;

  border-width: 1px;
  border-style: solid;

  .main {
    display: block;
    position: relative;

    .title {
      display: block;
      width: 100%;

      text-align: center;
      line-height: 45px;
    }
  }

  .details {
    line-height: 1.42857143;
    text-align: center;
    padding: 5px;

    .item-container {
      background: rgba(0, 0, 0, 0.1);
      padding: 5px;
      border-radius: 5px;

      .heading {
        margin: 0px;
        margin: 5px;
      }
    }
  }
}
