:host {
  position: absolute;
  top: 0;
  left: 0;

  display: flex; 
  align-items: center;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  align-items: center;
  justify-content: center;
 
  z-index: 200;

  background-color: rgba(0,0,0, 0.3);
}