<app-header></app-header>
<app-list-container></app-list-container>
<app-add-menu *ngIf="showAddMenu"></app-add-menu>
<app-add-task *ngIf="showAddTask"></app-add-task>
<app-add-category *ngIf="showAddCategory"></app-add-category>