<app-lightbox (click)="lightboxClick($event)">
  <div class="add-task dialog">
    <h2>Add Task</h2>
    <form [formGroup]="form">
      <div class="form-field">
        <label>Name</label>
        <input formControlName="name" type="text" placeholder="Name">
      </div>
      <div class="form-field">
        <label>Category</label>
        <select formControlName="categoryId">
          <option value="">-- No Category --</option>
          <option *ngFor="let category of categories" value={{category.id}}>
            {{category.name}}
          </option>
        </select>
      </div>
      <div class="form-field">
        <label>Frequency</label>
        <input formControlName="frequency" type="number" placeholder="Frequency">
      </div>
      <div class="form-field">
        <label>Frequency Period</label>
        <select formControlName="frequencyPeriod">
          <option value="Seconds">Seconds</option>
          <option value="Minutes">Minutes</option>
          <option value="Hours">Hours</option>
          <option value="Days">Days</option>
          <option value="Weeks">Weeks</option>
        </select>
      </div>
    </form>
    <div class="actions">
      <button (click)="cancelClicked()">Cancel</button>
      <button (click)="saveClicked()">Add Task</button>
    </div>
  </div>
</app-lightbox>



