.item {
  margin: 5px;
  border-radius: 3px;
  display: block;
  overflow: hidden;

  border-width: 1px;
  border-style: solid;
}

.main {
  display:block;
  position: relative;
}

.details {
  padding-top: 5px;
	padding-bottom: 5px;
  line-height: 1.42857143;

  text-align: center;

  dl {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    width: 300px;
    dt {
      display: inline-block;
      text-align: left;
      font-weight: 600;
    }
    dd {
      text-align: right;
    }
  }
}
  

.title {
  display: block;
  width: 100%;

  text-align: center;
  line-height: 45px;
}

button {
  position:absolute;
  right: 0;
  top: 0;

  margin: 5px;
}