<div class="item" [ngStyle]="{ 'border-color': getBorderColor() }">
	<div class="main" [ngStyle]="{ 'background-color': getMainColor() }">
		<span class="title" (click)="titleClicked()" [ngStyle]="{ 'color': getLineColor() }">{{ task.name }}</span>
		<button (click)="doneClicked()">
			<fa-icon [icon]="faCheck"></fa-icon>
		</button>
	</div>
	<div *ngIf="isExpanded" class="details" [ngStyle]="{ 'background-color': getDetailsColor(), 'color': getLineColor() }">
		<div>{{ task.counterText }} </div>
    <div>Repeats every {{ task.frequency }} {{ task.frequencyPeriod }} </div>
		<dl class="dl-horizontal" *ngIf="task.lastCompleted || task.nextDue">
			<dt ng-hide="!task.lastCompleted">Last Completed</dt><dd>{{ task.lastCompleted.toLocaleString() }}</dd>
			<dt ng-hide="!task.nextDue">Next Due</dt><dd>{{ task.nextDue.toLocaleString() }}</dd>
		</dl>
	</div>
</div>
