<app-lightbox (click)="lightboxClick($event)">
  <div class="add-menu dialog">
    <button (click)="addTaskClick()">Add Task</button>
    <button (click)="addCategoryClick()">Add Category</button>
  </div>
</app-lightbox>
