@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

// Font Variables
$body-font: 'Lato', sans-serif;

html, body {
  font-family: $body-font;
  font-weight: 400;

  height: 100%;
  margin: 0;
  background-color: #000;
  overflow: hidden;
}

button {
  width: 35px;
  height: 35px;
  border-radius: 2px;
  border: #CCD solid 1px;
  background-color: #DDE;
  border-radius: 2px;

  &:hover {
    border: #BBC solid 1px;
    background-color: #CCD;
  }

  &:hover {
    border: #AAB solid 1px;
    background-color: #BBC;
  }
}

.float-right {
  float: right;

  &:after {
      content: "";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
  }
}

.dialog {
  background-color: #778;
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  box-sizing: border-box;

  h2 {
    margin: 0;
    background-color: #556;
    text-align: center;
    border-bottom: #556 solid 1px;
    padding: 10px 0;
    color: #EED;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
  
    .form-field {
      display: flex;
      margin: 2px;
  
      label {
        flex: 1;
      }
  
      input, select {
        flex: 2;
      }
    }
  }

  .actions {
    background-color: #667;
    display: flex;
    justify-content: flex-end;
    padding: 5px;

    button {
      width: auto;
      margin: 5px;
    }
  }
}
